---
const { props } = Astro.props;
---

<h1 class={`${props} uppercase leading-tight tracking-wide font-extrabold text-center text-beige-500 dark:text-dorado-400 text-4xl md:text-6xl lg:text-7xl`}>
    <slot />
</h1>