---
const { type, props } = Astro.props;
---

<button type="button" class="rounded-m px-4 py-2 text-md font-semibold uppercase tracking-widest text-white shadow-md rounded-md bg-dorado-600 border border-dorado-600 hover:bg-dorado-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dorado-500">
    <slot />
</button>