---
const { type="button", props } = Astro.props;
---

<button 
  type={type} 
  class={`${props} rounded-md px-4 py-2 text-sm lg:text-md xl:text-lg font-semibold uppercase tracking-widest text-beige-500 shadow-xl bg-dorado-700 border border-dorado-700 hover:bg-dorado-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dorado-500 transition-all duration-300 ease-in-out`}
>
    <slot />
</button>