---
import H2 from '../ui/basics/h2.astro';
import H4 from '../ui/basics/h4.astro';
import PrimaryButton from '../ui/basics/primaryButton.astro';
---
<main id="contact" class="flex flex-col items-center justify-center h-screen min-h-screen px-4 space-y-14">
  <section class="flex flex-col items-center justify-center pt-32 space-y-16 h-1/4">
    <H2 props="drop-shadow-md">Hablemos de tu proyecto</H2>
    <H4 props="text-center max-w-3xl">
      ¿Tienes una idea en mente? Rellena el formulario y nos pondremos en contacto contigo lo antes posible.
    </H4>
  </section>
  <!-- Formulario -->
  <section class="flex flex-col items-center justify-center w-full space-y-16 h-1/2">
    <form action="" class="flex flex-col items-center justify-center w-full max-w-4xl space-y-8">
        <!-- Nombre y Apellido -->
        <div class="grid w-full grid-cols-1 gap-6 md:grid-cols-2">
            <div class="flex flex-col w-full space-y-1">
            <label for="name" class="text-lg font-semibold text-beige-500">Nombre</label>
            <input
                type="text"
                id="name"
                name="name"
                placeholder="Nombre"
                class="w-full px-4 py-3 transition duration-200 border rounded-lg shadow-sm text-negro-700 focus:outline-none focus:ring-2 focus:ring-dorado-500 focus:border-dorado-500"
            />
            </div>
            <div class="flex flex-col w-full space-y-1">
            <label for="surname" class="text-lg font-semibold text-beige-500">Apellido</label>
            <input
                type="text"
                id="surname"
                name="surname"
                placeholder="Apellido"
                class="w-full px-4 py-3 transition duration-200 border rounded-lg shadow-sm text-negro-700 focus:outline-none focus:ring-2 focus:ring-dorado-500 focus:border-dorado-500"
            />
            </div>
        </div>
        <!-- Email -->
        <div class="flex flex-col w-full space-y-1">
            <label for="email" class="text-lg font-semibold text-beige-500">Email</label>
            <input
            type="email"
            id="email"
            name="email"
            placeholder="ejemplo@correo.com"
            class="w-full px-4 py-3 transition duration-200 border rounded-lg shadow-sm text-negro-700 focus:outline-none focus:ring-2 focus:ring-dorado-500 focus:border-dorado-500"
            />
        </div>
        <!-- Mensaje -->
        <div class="flex flex-col w-full space-y-1">
            <label for="message" class="text-lg font-semibold text-beige-500">Mensaje</label>
            <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="Cuéntanos sobre tu idea..."
            class="w-full px-4 py-3 transition duration-200 border rounded-lg shadow-sm text-negro-700 focus:outline-none focus:ring-2 focus:ring-dorado-500 focus:border-dorado-500"
            ></textarea>
        </div>
        <div class="flex w-full gap-3">
            <div class="flex items-center h-6 shrink-0">
            <div class="grid grid-cols-1 group size-4">
                <input id="policy" aria-describedby="policy-acceptation" name="policy" type="checkbox" class="col-start-1 row-start-1 bg-white border border-gray-300 rounded appearance-none checked:border-dorado-600 checked:bg-dorado-600 indeterminate:border-dorado-600 indeterminate:bg-dorado-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dorado-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto">
                <svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-[:disabled]:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
                <path class="opacity-0 group-has-[:checked]:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path class="opacity-0 group-has-[:indeterminate]:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            </div>
            <label for="policy" class="font-medium text-beige-500">Acepto la Política de Privacidad</label>
        </div>
    </form>
    <!-- Botón -->
    <div class="mt-6">
      <PrimaryButton props="w-fit px-6 py-3 text-lg lg:text-xl">
        Enviar mensaje
      </PrimaryButton>
    </div>
  </section>
</main>