---
import Dropdown from "../ui/elements/langDropdown.jsx";
import Toggle from "../ui/elements/toggle.jsx";
import { getSupportedLanguages } from "../../utils/i18n.js";

const supportedLangs = getSupportedLanguages();
const currentLang = Astro.url.pathname.split('/')[1]?.toLowerCase() || 'en';

function handleLanguageChange(lang: string) {
  console.log('Idioma seleccionado:', lang); // Depuración
  if (lang === currentLang) return;

  const newPath = `/${lang.toLowerCase()}${Astro.url.pathname.replace(/^\/(en|es)/, '')}`;
  console.log('Redirigiendo a:', newPath); // Verificar la nueva URL

  window.location.href = newPath; // Cambiar la URL
}
const { lang } = Astro.params;
---

<nav class="fixed top-0 left-0 z-50 w-full bg-verde-600 dark:bg-negro-600">
  <div class="container flex items-center justify-between px-4 py-3 mx-auto max-w-7xl">
    <!-- Logo -->
    <h1 class="text-2xl font-extrabold text-white drop-shadow-md lg:text-4xl">
      <a href={`/${lang}`}>Hextech</a>
    </h1>

    <Toggle client:load />

    <Dropdown
        client:load
        languages={supportedLangs.filter((lang: string) => lang !== currentLang)}
        onLanguageChange={handleLanguageChange}
    />
  </div>
</nav>