<nav class="fixed flex items-center justify-between w-full mt-12 max-w-7xl z-[999]">
    <h1 class="font-extrabold text-white text-7xl drop-shadow-md">Hextech</h1>
    <button class="px-2 py-1.5 border border-dorado-600 text-md font-bold text-white rounded-md shadow-md hover:bg-dorado-500">ES</button>
</nav>