<nav class="fixed mt-12 flex items-center justify-between w-full max-w-7xl">
    <h1 class="text-white text-7xl font-extrabold">Hextech</h1>
    <button class="px-2 py-1.5 border border-dorado-600 text-md font-bold text-white rounded-md shadow-md hover:bg-dorado-500">ES</button>
</nav>