---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/ui/basics/h1.astro'
---
<Layout title="404 | Hextech | Web development">
    <main class="flex items-center justify-center w-full h-screen min-h-screen">
        <div class="space-y-24">
            <H1 props="animate-fade-in-down">
                Página no encontrada
            </H1>
            <H1 props="animate-fade-in-down animate-delay-100">
                404
            </H1>
        </div>
    </main>
</Layout>