---
import Nav from "../components/blocks/nav.astro";
import Footer from "../components/blocks/footer.astro";
import Blur from "../components/ui/elements/blur.astro";

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hextech: especialistas en desarrollo web. Creamos landing pages, gestores de bases de datos y soluciones personalizadas para potenciar tu negocio.">
    <meta name="keywords" content="Desarrollo web, Creación de páginas web, Web developer, Landing pages, Programador web, Diseño de páginas web, Gestores de bases de datos, E-commerce, Tiendas online, Optimización SEO, Servicios web personalizados, Diseño web minimalista, Desarrollo web premium, Gestión de datos, Programación de sitios web, Soluciones digitales, Páginas exclusivas, Desarrollo de software, Diseño responsivo, Mejora de presencia digital, Agencia de desarrollo web, Innovación digital">
    <meta name="theme-color" content="#3c4d45">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Hextech | Joël Arnaud Carreras">
    <meta name="language" content="es">

    <!-- Multilingual Hreflang -->
    <!-- <link rel="alternate" hreflang="es" href="https://hextech.joelarnaud.com/es/" />
    <link rel="alternate" hreflang="en" href="https://hextech.joelarnaud.com/en/" /> -->
    <link rel="alternate" hreflang="x-default" href="https://hextech.joelarnaud.com/" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content="https://hextech.joelarnaud.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hextech | Desarrollo Web a Medida">
    <meta property="og:description" content="Diseñamos soluciones web personalizadas, desde landing pages hasta tiendas online y gestores de bases de datos. Innovación, rendimiento y exclusividad.">
    <!-- <meta property="og:image" content="https://hextech.joelarnaud.com/assets/images/hextech-og-image.jpg"> -->
    <!-- <meta property="og:locale" content="es_ES">
    <meta property="og:locale:alternate" content="en_US"> -->
    <meta property="og:site_name" content="Hextech">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jowy_1999">
    <meta name="twitter:creator" content="@jowy_1999">
    <meta name="twitter:url" content="https://hextech.joelarnaud.com/">
    <meta name="twitter:title" content="Hextech | Web Development Solutions">
    <meta name="twitter:description" content="We design custom web solutions, from landing pages to online stores and database managers. Innovation, performance, and exclusivity.">
    <!-- <meta name="twitter:image" content="https://hextech.joelarnaud.com/assets/images/hextech-twitter-image.jpg"> -->

    <!-- FavIcon -->
    <!-- <link rel="shortcut icon" href="/Sagilogo.jpg" type="image/x-icon">
    <link rel="icon" sizes="57x57" href="/57x57.png" type="image/x-icon">
    <link rel="icon" sizes="120x120" href="/120x120.png" type="image/x-icon">
    <link rel="icon" sizes="128x128" href="/128x128.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="150x150" href="/150x150.jpg" type="image/x-icon">
    <link rel="icon" sizes="167x167" href="/167x167.jpg" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="/192x192.jpg" type="image/x-icon">
    <link rel="icon" sizes="196x196" href="/196x196.jpg" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="228x228" href="/228x228.jpg" type="image/x-icon"> -->

	<!-- Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">

    <title>{title}</title>
  </head>
  <body class="antialiased bg-verde-500 dark:bg-negro-500 font-playfair">
	<Blur/>
	<main class="relative px-4 lg:mx-auto max-w-7xl">
		<Nav />
		<slot />
	</main>
    <Footer />
  </body>
</html>