---
import Nav from "../components/blocks/nav.astro";
import Footer from "../components/blocks/footer.astro";
import Blur from "../components/ui/elements/blur.astro";

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Empresa de desarrollo web especializada en la creación de landing pages y sitios web.">
    <meta name="keywords" content="Web developer, Joël Arnaud Carreras, Desarrollo web, Landing page, Programador junior">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="index, follow">

    <!-- OG Meta Tags -->
    <meta property="og:url" content="https://hextech.joelarnaud.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hextech | Web development">
    <meta property="og:description" content="Building amazing things">
    <meta property="og:image" content="https://hextech.joelarnaud.com/joel.jpeg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="hextech.joelarnaud.com">
    <meta property="twitter:url" content="https://hextech.joelarnaud.com/">
    <meta name="twitter:title" content="Hextech | Web development">
    <meta name="twitter:description" content="Building amazing things">
    <meta name="twitter:image" content="https://hextech.joelarnaud.com/joel.jpeg">
    <meta name="twitter:creator" content="@jowy_1999">

    <!-- FavIcon -->
    <!-- <link rel="shortcut icon" href="/Sagilogo.jpg" type="image/x-icon">
    <link rel="icon" sizes="57x57" href="/57x57.png" type="image/x-icon">
    <link rel="icon" sizes="120x120" href="/120x120.png" type="image/x-icon">
    <link rel="icon" sizes="128x128" href="/128x128.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="150x150" href="/150x150.jpg" type="image/x-icon">
    <link rel="icon" sizes="167x167" href="/167x167.jpg" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="/192x192.jpg" type="image/x-icon">
    <link rel="icon" sizes="196x196" href="/196x196.jpg" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="228x228" href="/228x228.jpg" type="image/x-icon"> -->

	<!-- Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">

    <title>{title}</title>
  </head>
  <body class="antialiased bg-verde-500 dark:bg-negro-500 font-playfair">
	<Blur/>
	<main class="relative px-4 lg:mx-auto max-w-7xl">
		<Nav />
		<slot />
	</main>
    <Footer />
  </body>
</html>